/* ProductDetailsStyles.css */

.product-details {
  margin-top: 20px;
}

.product-details-info {
  padding: 20px;
  background-color: #f8f9fa;
}

.product-details-info h1 {
  margin-bottom: 20px;
}

.similar-products {
  margin-top: 50px;
}

.card {
  width: 250px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 10px;
}

.card-title {
  margin-bottom: 10px;
}

.card-name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-price {
  color: #007bff;
}

.btn {
  cursor: pointer;
}

.btn-info {
  background-color: #17a2b8;
  color: #fff;
}

.btn-info:hover {
  background-color: #138496;
}

.btn-dark {
  background-color: #343a40;
  color: #d1df10;
}

.btn-dark:hover {
  background-color: #3ad61b;
}
