/* RegLog.css */

/* Container for the registration/login form */
.container {
	height: 600px;
	width: 500px;
	background-color: white;
	box-shadow: 8px 8px 20px rgb(128, 128, 128);
	position: relative;
	overflow: hidden;
	margin-top: 50px; /* Adjust margin-top as needed */
  }
  
  /* Button section for login and signup */
  .btn {
	height: 60px;
	width: 300px;
	margin: 20px auto;
	box-shadow: 10px 10px 30px rgb(254, 215, 188);
	border-radius: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
  }
  
  /* Individual login and signup buttons */
  .login,
  .signup {
	font-size: 22px;
	border: none;
	outline: none;
	background-color: transparent;
	position: relative;
	cursor: pointer;
	padding: 10px 20px;
	transition: background-color 0.3s ease-in-out;
  }
  
  /* Active button style */
  .login.active,
  .signup.active {
	background-color: rgb(255, 195, 110);
	border-radius: 50px;
	color: white;
  }
  
  /* Slider animation */
  .slider {
	height: 60px;
	width: 150px;
	border-radius: 50px;
	background-image: linear-gradient(to right, rgb(255, 195, 110), rgb(255, 146, 91));
	position: absolute;
	top: 20px;
	left: 100px;
	transition: all 0.5s ease-in-out;
  }
  
  .moveslider {
	left: 250px;
  }
  
  /* Form section containing login and signup forms */
  .form-section {
	height: 500px;
	width: 1000px;
	padding: 20px 0;
	display: flex;
	position: relative;
	transition: all 0.5s ease-in-out;
	left: 0px;
  }
  
  .form-section-move {
	left: -500px;
  }
  
  /* Styles for login and signup boxes */
  .login-box,
  .signup-box {
	height: 100%;
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0px 40px;
	gap: 30px;
  }
  
  /* Individual form input styles */
  .ele {
	height: 60px;
	width: 400px;
	outline: none;
	border: none;
	color: rgb(77, 77, 77);
	background-color: rgb(240, 240, 240);
	border-radius: 50px;
	padding-left: 30px;
	font-size: 18px;
  }
  
  /* Button style for login and signup */
  .clkbtn {
	height: 60px;
	width: 150px;
	border-radius: 50px;
	background-image: linear-gradient(to right, rgb(255, 195, 110), rgb(255, 146, 91));
	font-size: 22px;
	border: none;
	cursor: pointer;
  }
  
  /* Responsive styles for smaller screens */
  @media screen and (max-width: 650px) {
	/* Add responsive styles here */
  }
  
  @media screen and (max-width: 320px) {
	/* Add responsive styles here */
  }
  