@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Poppins:wght@300;400&display=swap");
/*
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar css */

.navbar{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 26px;
    text-transform: uppercase;
    box-shadow: 0px 8px 6px -6px grey ;
    ---webkit-box-shadow: 0 8px 6px -6px grey;
    border-bottom: solid grey !important;
}
.nav-link {
    font-weight: 300 !important;
  }
  
  .active {
    border-bottom: 2px solid blue;
  }
  
  .navbar-brand {
    font-weight: 700;
    font-family: "roboto", sans-serif;
    letter-spacing: 3px;
  }


  /* =============================
==========footer============= */

.footer {
    color: white;
    padding: 25px;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #434343,
      #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
  }
  
  .footer a {
    text-decoration: none;
    color: white;
    padding: 20px;
  }
  
  .footer a:hover {
    color: #ffefba;
    border-bottom: 1px solid #ffefba;
  }

  /* =================================
======== page not found css ======= */
.pnf {
    display: flex;
    min-height: 65vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .pnf-title {
    font-size: 100px;
    font-weight: 700;
  }
  
  .pnf-heading {
    font-weight: normal;
  }
  
  .pnf-btn {
    color: black;
    border: 1px solid black;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
  }
  .pnf-btn:hover {
    background-color: black;
    color: white;
  }


  /* =================================
======== rEGISTER ======= */

/* Container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Form Styles */
.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Button Styles */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Responsive Styles (adjust as needed) */
@media (max-width: 768px) {
  .form-control {
    width: 80%;
  }
}

/* Additional Styles (customize as needed) */
/* Add your custom styles here */


/* Add more styles as needed */
